body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

.button {
    border: 1px solid #862ac1;
    background-color: #862ac1;
    padding: 7px 24px;
    color: white;
    border-radius: 32px;
    font-weight: 600;
    line-height: 24px;
}

.container {
	max-width: 1464px;
}

.catalog {
	width: 100%;
}

.catalog-item {
	max-width: 200px;
	margin: 0 auto;
}

.catalog-item__top {
	position: relative;
}

.catalog-item__img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.catalog-item__img::before {
	content: "";
	background-color: black;
	opacity: 0.03;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 12px;
	width: 100%;
	height: 100%;
}

.catalog-item__img img {
	max-width: 179px;
	height: 180px;
}

.catalog-item__top-buttons {
	position: absolute;
	top: 8px;
	right: 10px;
	display: flex;
	flex-direction: column;
}

.catalog-item__top-button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}

.catalog-item__price {
	margin-top: -14px;
	position: relative;
}

.catalog-item__name {
	color: #1c1f22;
	display: block;
	font-size: 14px;
	font-weight: 400;
	height: 40px;
	letter-spacing: -.02em;
	line-height: 20px;
	margin-top: 6px;
	overflow: hidden;
	text-decoration: none;
}

.catalog-item__price-discount {
	width: fit-content;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.02em;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='14' viewBox='0 0 32 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_16)'%3E%3Cpath d='M2.22199 2.876C2.4447 2.05051 2.93324 1.32143 3.61202 0.80154C4.2908 0.281654 5.12199 -5.48244e-05 5.97699 8.00301e-09L27.368 8.00301e-09C29.928 8.00301e-09 31.789 2.43 31.123 4.901L29.445 11.124C29.2223 11.9495 28.7337 12.6786 28.055 13.1985C27.3762 13.7183 26.545 14.0001 25.69 14H4.29999C1.73899 14 -0.122006 11.57 0.543994 9.099L2.22199 2.876Z' fill='%23F1222E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_16'%3E%3Crect width='32' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 1px 11px;
	color: white;
}

.catalog-item__price-new {
	display: flex;
	align-items: center;
}

.catalog-item__cashback {
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	background-image: url("data:image/svg+xml,%3Csvg width='155' height='58' viewBox='0 0 155 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_18)'%3E%3Cmask id='mask0_2_18' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='0' y='0' width='155' height='58'%3E%3Cpath d='M0 0H155V58H0V0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2_18)'%3E%3Cpath d='M0 0H155V58H0V0Z' fill='%2364E394'/%3E%3Cpath d='M77.5 -61.476H-22.389V68.182H77.5V-61.476Z' fill='url(%23paint0_radial_2_18)'/%3E%3Cpath d='M96.445 13.413H4.30499V133.01H96.445V13.413Z' fill='url(%23paint1_radial_2_18)'/%3E%3Cpath d='M50.806 -6.70599H-50.805V129.658H50.805L50.806 -6.70599Z' fill='url(%23paint2_radial_2_18)'/%3E%3Cpath d='M137.778 0H51.667V111.774H137.778V0Z' fill='url(%23paint3_radial_2_18)'/%3E%3Cpath d='M167.917 6.70599H74.917V127.422H167.917V6.70599Z' fill='url(%23paint4_radial_2_18)'/%3E%3Cpath d='M188.583 -26.825H102.472V84.949H188.583V-26.825Z' fill='url(%23paint5_radial_2_18)'/%3E%3Cpath d='M79.222 -49.181H10.334V40.238H79.222V-49.181Z' fill='url(%23paint6_radial_2_18)'/%3E%3Cpath d='M134.333 -49.181H38.75V53.65H134.333V-49.181Z' fill='url(%23paint7_radial_2_18)'/%3E%3Cpath d='M165.333 -86.065H70.611V58.123H165.333V-86.065Z' fill='url(%23paint8_radial_2_18)'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(27.555 3.353) scale(49.9445 64.8288)'%3E%3Cstop offset='0.15' stop-color='%2342E3B4'/%3E%3Cstop offset='1' stop-color='%2342E3B4' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint1_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(50.375 73.212) scale(46.0695 59.7989)'%3E%3Cstop offset='0.01' stop-color='%23A0E720'/%3E%3Cstop offset='1' stop-color='%23A0E720' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint2_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(7.287e-06 61.476) scale(50.8056 68.182)'%3E%3Cstop offset='0.1' stop-color='%23E6FA00'/%3E%3Cstop offset='1' stop-color='%23FAED00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint3_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(94.722 55.887) scale(43.0556 55.8869)'%3E%3Cstop offset='0.15' stop-color='%2300D900'/%3E%3Cstop offset='1' stop-color='%2300D900' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint4_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(121.417 67.064) scale(46.5 60.3578)'%3E%3Cstop offset='0.15' stop-color='%2306B52A'/%3E%3Cstop offset='1' stop-color='%2305B827' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint5_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(145.528 29.062) scale(43.0556 55.8869)'%3E%3Cstop offset='0.15' stop-color='%23289E2E'/%3E%3Cstop offset='1' stop-color='%23269F2C' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint6_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(44.778 -4.472) scale(34.4444 44.7095)'%3E%3Cstop offset='0.15' stop-color='%2337D2C4'/%3E%3Cstop offset='1' stop-color='%2338D3C5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint7_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(86.542 2.235) scale(47.7917 51.4159)'%3E%3Cstop offset='0.1' stop-color='%2302AAF5'/%3E%3Cstop offset='1' stop-color='%2303ABF6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='paint8_radial_2_18' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(117.972 -13.971) scale(47.3611 72.0941)'%3E%3Cstop offset='0.2' stop-color='%230087CD'/%3E%3Cstop offset='0.9' stop-color='%230087CD' stop-opacity='0'/%3E%3C/radialGradient%3E%3CclipPath id='clip0_2_18'%3E%3Crect width='155' height='58' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 32px 32px 32px 0;
	font-size: 8px;
	flex: 0 0 auto;
	width: 58px;
	padding: 0px 4px;
	font-weight: 600;
	line-height: 0px;
	height: 15px;
}

.catalog-item__price-new__value {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 24px;
	margin-right: 6px;
}

.catalog-item__cashback-icon {
	width: 10px;
	height: 10px;
}

.catalog-item__cashback-percent {
	background: white;
	border-radius: 32px 32px 32px 0;
	color: #8c959c;
	height: 10px;
	display: flex;
	padding: 0 4px;
	align-items: center;
	justify-content: center;
}

.catalog-item__price-old {
	display: flex;
	align-items: center;
	color: #8c959c;
	font-size: 14px;
	letter-spacing: -.02em;
	line-height: 20px;
	gap: 4px;
}

.catalog-item__price-old__tooltip {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	width: 11px;
	height: 11px;
	flex: 0 0 auto;
}

.catalog-item__price-old__value {
	position: relative;
}

.catalog-item__price-old__value::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #f1222e;
}

.catalog-item__star::before {
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_5_33)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.62002 8.41289C5.49025 8.34913 5.33825 8.34913 5.20848 8.41289L2.53777 9.72494C2.19363 9.89401 1.80375 9.59892 1.87301 9.2218L2.36746 6.52938C2.39656 6.3709 2.34185 6.20862 2.22274 6.10011L0.152914 4.2145C-0.139927 3.94772 0.0118483 3.46041 0.404385 3.4071L3.32259 3.01076C3.47185 2.99049 3.60214 2.89942 3.67247 2.76622L5.00157 0.248788C5.1767 -0.0829292 5.6518 -0.0829294 5.82693 0.248788L7.15603 2.76622C7.22636 2.89942 7.35665 2.99049 7.50591 3.01076L10.4241 3.4071C10.8167 3.46041 10.9684 3.94772 10.6756 4.2145L8.60576 6.10011C8.48665 6.20862 8.43194 6.3709 8.46104 6.52938L8.95549 9.22179C9.02475 9.59892 8.63487 9.89401 8.29073 9.72494L5.62002 8.41289Z' fill='%23FF9935'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5_33'%3E%3Crect width='11' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 12px;
}

.catalog-item__stars {
	display: flex;
	align-items: center;
	gap: 5px;
}

.catalog-item__star {
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalog-item__rating {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

.catalog-item__rating-value {
	color: #8c959c;
	font-family: SB Sans Text, sans-serif;
	font-size: 14px;
	letter-spacing: -.02em;
	line-height: 20px;
	margin-left: 4px;
	margin-top: 2px;
}